body{
    background-color: rgb(75, 155, 150);
    color: rgb(133, 47, 47);
}
td{
    border: 2px solid black;
    padding: 10px;
}
h1{
    color:red;
}
h2{
    color: rgb(43, 15, 222);
}
h3{
    color:blueviolet
}
ul{
    color: chartreuse;
}
ol{
    color: rgb(157, 248, 0);
}
dl{
    color: rgb(255, 251, 0);
}
label{
    color: rgba(255, 30, 0, 0.604);
}