body{
    background: #9691b5;
    color:rgb(151, 89, 7)
}
.box{
    color:rgb(115, 28, 28);
    background: #42a853;
}
:root{
    --main-bg-color: #42a853;
    --main-text-color: #ff0202;
    --main-border-color: #a4711e;
}
.box1{
    color:#e50d0d;
    background:rgb(37, 145, 107);
    padding: 5vw;
    margin: 5vh;
    border: 5px solid rgb(240, 5, 5);
}
.box2{
    color:rgb(0, 0, 255);
    background: #8e2e2e;
    padding:5vw;
    margin:auto;
    border: 5px solid rgb(0, 0, 255);
    
}
p{
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
}
.box1{
    font: italic bold 20px/30px Georgia, serif;
}
.box2{
    font-family:"serif";
    font-size: 20px;
    line-height: 30px;
    font-style:italic;
    text-transform: lowercase;
}
p2{
    font-style:italic;
    font-family:"cursive";
    /* font-size: 30px; */
    font-weight: 700;
    font-size: 30px;
    font-variant: small-caps;  
    line-height:40px;
    letter-spacing: 7px;
    text-transform: uppercase;
}
p3{
    line-height:30px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 20px; 
    text-transform: capitalize;
    text-shadow: 1dvh 1dvh 1dvh rgb(184, 12, 12);
    text-rendering: geometricPrecision;
    text-align: center;
    text-wrap: balance;
}
#GhuranRam{
    color:var(--main-bg-color);
    background: #a4711e;
    padding:5vw;
    margin:5vh;
    border:5vh solid #42a853;
}
.container{
    display: flex;
    text-transform: uppercase;
    height: 32vh;
    color:aqua;
    border:#600606 5px solid;
    background-color:rgb(9, 78, 78);
    padding: 5vh;
    margin: 2vh;
    width: 100vmin ;
    /* font-size: 1em; */
}
 
.container p{
    font-size:1.1rem;
    
}