nav ul li{
    padding: 10px;
    background-color: #d0f30b;
    /* margin: 5px;
    list-style: disc inside url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg/300px-Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg"); */
    
    /* display:flex ;   */
    list-style-position: inside;
    border:2px solid rgb(12, 12, 11);
    list-style-type: "❤️ ";
    /* list-style-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg/300px-Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg"); */
} 