body {
    margin: 20px;
    background-color: #f5f5dc;
    font-family: 'Arial', sans-serif;
    color: #572d2d;
    line-height: 1.6;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Cursive', sans-serif;
    color: #d90404;
    font-size: 3em;
    text-shadow: 2px 2px 4px #1502e7;
}

h2 {
    color: #2b0fde;
    text-indent: 10px;
    text-shadow: 2px 2px 3px #e7aa02;
    font-size: 1.5em;
    margin-top: 30px;
}

p {
    color: #0af263;
    background: #c40808;
    padding: 10px;
    border-radius: 5px;
}

.profile-image {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #d90404;
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skills img {
    margin: 5px;
    transition: transform 0.3s ease;
}

.skills img:hover {
    transform: scale(1.1);
}

.social-links a {
    margin: 5px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-links a:hover {
    transform: scale(1.1);
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
    color: #4f8f74;
}

.quote {
    margin: 30px 0;
}

footer {
    text-align: center;
    margin-top: 30px;
}