* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#home {
    text-align: center;
    padding: 50px 20px;
}

#home h1 {
    font-size: 2.5rem;
}

#about,
#skills,
#projects,
#contact {
    padding: 40px 20px;
    text-align: center;
}

#about p,
#skills ul,
#projects .project {
    margin: 20px auto;
    max-width: 800px;
}

#skills ul {
    list-style: none;
}

#skills ul li {
    margin: 10px 0;
}

.project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a:hover {
    text-decoration: underline;
}

#home img {


    height: 500;
    width: 500;
    border-radius: 50%;
    margin-top: 100px;

}